

.content-area{
    background-color: #f6f6fc;
    position:fixed;
    width:calc(100vw - 340px);
    height:calc(100vh - 80px);
    margin-left:250px;
    border-radius: 0px 12px 12px 0px;
  }
  .content-bar{
  
    width: calc(100% - 40px);
    margin-left:20px;
    margin-top:10px;
    background:#fff;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.06);
    border-radius:12px;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0fr 1fr 1fr 1fr 0fr;
    align-items: center;
  }
  .page-title{
    font-weight:500;
    font-size:26px;
    padding-left:20px;
    padding-top:20px;
  }
  .page-desc{
    padding-left:20px;
    font-weight:300;
    color:#525252;
  }
  .logo{
    font-family: 'Rubik', sans-serif;
    font-weight:600;
    font-size:70px;
    background: -webkit-linear-gradient(#4d4d4d, #171717);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align:center;
    margin-top:20px;
    padding:0px;
    margin-bottom:20px;
  }
  .search{
    border-left:1px solid #dfe2e6;
    border-top:1px solid #dfe2e6;
    border-bottom:1px solid #dfe2e6;
    border-right:1px none;
    border-radius:12px 0px 0px 12px;
    padding:10px;
    margin-left:20px;
    width: 145px;
    font-family: 'Rubik', sans-serif;
    font-weight:300;
    color:#525252;
  }
  .search:focus{
    outline:none;
  }
  .sbtn{
    padding:10px;
    padding-right:15px;
    padding-left:15px;
    background:none;
    border-radius: 0px 12px 12px 0px;
    border-right:1px solid #dfe2e6;
    border-top:1px solid #dfe2e6;
    border-bottom:1px solid #dfe2e6;
    border-left:1px none;
    transform:translate(-4px, 0px);
    color: #d0d4d9;
    cursor:pointer;
  }
  .sbtn:focus{
    outline:none;
  }
  .sbtn:hover{
    color:#a8adb3;
  }
  .sbtn:active{
    color:black;
  }
  .spacer{
    margin:20px;
  }
  .mbtn{
    border-radius:12px;
    text-align:left;
    margin-left:20px;
    width:210px;
    height:40px;
    border:none;
    background:none;
    font-family: 'Rubik', sans-serif;
    font-size:18px;
    color:#d0d4d9;
    transition-duration:0ms;
    cursor:pointer;
  }
  .icon{
    padding-left:20px;
    padding-right:10px;
    color:#b4b9bf;
    
  }
  .mbtn:hover{
    transition-duration:0ms;
    text-align:left;
    width:210px;
    height:40px;
    border:none;
    background: #f6f6fc;
    color:black;
  }
  .mbtn:hover i{
  
    color:#3895e0;
  }
  .mbtn:focus{
    outline:none;
    background:#3a94de;
    color:rgba(255,255,255,0.9);
    cursor:pointer;
  }
  .mbtn:focus i{
    color:white;
  
  }
  
  .mobilebar{
    width:100%;
    height:70px;
    background:#fff;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.06);
    display:none;
  }
  .sml{
    text-align:left;
    font-size:34px;
    display:inline-block;
    padding-left:20px;
    margin-top:14px;
  }
  .mnubtn{
    height:35px;
    float:right;
    margin-right:0px;
    border:none;
    border-radius:12px;
    background: -webkit-linear-gradient(#4d4d4d, #171717);
    color:white;
    font-size:18px;
    padding:8px 10px;
  }
  .mnubtn:focus{
    outline:none;
  }
  .mnubtn:hover{
    background:black;
  }
  .mnubtn:active{
    background:#3a94de;
    color:black;
  }
  .mbh{
    display:inline-block;
    float:right;
    margin-top:17px;
    margin-right:20px;
  }
  
  
  .itemid{
    padding: 15px;
    color:gray;
    font-weight:300;
  }
  .itemtitle{
    padding:15px;
    padding-bottom:15px;
    color:black;
    min-width:80px;
  }
  .itemprice{
    padding:15px;
    padding-bottom:15px;
    color:#319959;
    min-width:80px;
  }

  .itemtype
  {
       font-size: 28px;


  }
  .itemstock{
    
    padding:15px;
    padding-bottom:15px;
    color:black;
    font-weight:300;
  }
  .btncontainer{
    width:90px;
    background:none;
    display: flex;
    margin-right: 20px;
    height: 30px;

  }
  .cbbtn{
    float:right;
    margin-right:10px;
    width:35px;
    height:35px;
    margin-top:7px;
    border-radius:12px;
    border:none;
  }
  

  .navbar {
    background-color: #ffffff;
    overflow: hidden;
    display: flex;

  }

  .navbar a {
    width: 50%;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: #0d6efd;
    border-radius: 8px;
    
    
  }

  .navbar a:hover {
    background-color: #0d6efd;
    color: rgb(255, 255, 255);
    
  }

  .navbar a.active {

    background-color: #0d6efd;
   color: #ffffff;


    
  
  }
  
  @media only screen and (max-width: 1160px) {
    body{
      padding:0;
      margin:0;
      font-size:14px;
    }
    .sidenav{
      height:100%;
      border-radius:0px;
    }
      .content-area{
      height:100%;
        width:calc(100% - 250px);
        border-radius:0px;
    }
  }
  @media only screen and (max-width: 780px) {
    body{
      padding:0;
      margin:0;
      font-size:13px;
    }
    .sidenav{
      height:100%;
      border-radius:0px;
      left:-251px;
    }
      .content-area{
      height:100%;
        width:calc(100%);
        border-radius:0px;
        margin-left:0px;
    }
    .mobilebar{
    background:#fff;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.06);
    display:block;
  }
    .content-bar{
      grid-template-columns: 0fr 1fr 0fr;
    }
    .itemprice{
      display:none;
    }
    .itemstock{
      display:none;
    }
    .cbbtn{
    margin-top:5px;
      margin-right:5px;
  }
  }


.quantity-button {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 4px 8px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    cursor: pointer;
  } 


  .add-button {
    font-size: 12px;
    line-height: 1;
    padding: 4px 8px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }

.quantity-input {
    width: 30px;
    text-align: center;
  }